#
# Copy and rename this file to .env at root of this project.
#

# A common use case is to supply database creds via the environment. Edit settings.php
# like so:
#
# $databases['default']['default'] = [
#   'database' => getenv('MYSQL_DATABASE'),
#   'driver' => 'mysql',
#   'host' => getenv('MYSQL_HOSTNAME'),
#   'namespace' => 'Drupal\\Core\\Database\\Driver\\mysql',
#   'password' => getenv('MYSQL_PASSWORD'),
#   'port' => getenv('MYSQL_PORT'),
#   'prefix' => '',
#   'username' => getenv('MYSQL_USER'),
# ];

# This fileis genarated by running inside the application root.
#   /vendor/bin/drupal dotenv:init
# This file is a "template" of which env vars need to be defined
# for your application, use only on development stages.
# Create real environment variables when deploying to production.
#

# ENV
ENVIRONMENT=livemaster

# Database
DATABASE_NAME=db-name
DATABASE_USER=db-user-name
DATABASE_PASSWORD=db-pass
DATABASE_HOST=localhost
DATABASE_PORT=3306

# HOST
HOST_NAME=dev.example.com
HOST_PORT=80

# Default values for drupal-composer
#   All of bellow env variables are tested and work
#DRUPAL_ROOT=/var/www/html
#SERVER_ROOT=/var/www/html/html
DRUPAL_ROOT=__DIR__
SERVER_ROOT=__DIR__/html